# Data Science Tools and Ecosystem

## In this notebook, Data Science Tolls and Ecosystem are summariszed.

**Objectives:**

*  popular languages for Data Science 
*  popular llibraries for Data Science
*  arithmetic expressions in Python

### Some of the popular languages that Data Scienstists use are: 

1. Python 
2. Java 
3. R
4. C++

### Some of the commonly used libraries used by Data Scientists include: 

1. Pandas 
2. NumPy 
3. Pytorch
4. Matplotlib

 | Data Science Tools |
 | ------------------- |
 | R Studio |
 | JupyterLab |
 | Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# this is a simple arithmetic experssion to multiply then add integers. 

(5*6)+7

37

In [3]:
#This will convert 200 minutes to hours by dividing by 60.
120/60

2.0

## Author
D. K.